{% extends "template.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block specific %}

    <main class="container p-5">
            {% if session.moderator %}
                <tr>
                <form action="/add" method="get">
                <td> <button class="btn btn-lg btn-outline-dark index-button" type="submit" name="add">New Session</button> </td>
                </form>
                <form action="/delete" method="get">
                <td> <button class="btn btn-lg btn-outline-dark index-button" type="submit" name="delete">Delete Session</button> </td>
                </form>
                <td colspan="2"></td>
                </tr>
           {% endif %}
           <table class="table table-striped">
            <thead>
                <tr>
                    <td>Week</td>
                    <td>Name</td>
                    <td>Date & Time</td>
                    <td>Registration Status</td>
                    {% if session.moderator %}
                    <td>Attendance</td>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
              {% for data in dataset%}
                <tr>
                    <td>{{ data["week"] }}</td>
                    <td>{{ data["name"] }}</td>
                    <td>{{ data["time"] }}</td>
                {% if data["registered"] %}
                    <td>Already Registered</td>
                {% else %}
                    <td>
                    <form action="/" method="post">
                        Not Registered:
                         <button class="btn btn-lg btn-outline-dark small-button" type="submit" name="register" value="{{ data["id"] }}">Register</button>
                    </form>
                    </td>
                {% endif %}
                    {% if session.moderator %}
                         {% if data["attended"] != -1 %}
                           <td>
                           <form action="/lists" method="post">
                             <button class="btn btn-lg btn-outline-dark small-button" type="submit" name="attendanceList" value="{{ data["id"] }}">{{ data["attended"] }}</button>
                            </form>
                           </td>
                         {% else %}
                            <td>
                            <form action="/attendance" method="post">
                            <button class="btn btn-lg btn-outline-dark small-button" type="submit" name="attendance" value="{{ data["id"] }}">Take Attendance</button>
                            </form>
                            </td>
                         {% endif %}
                    {% endif %}
               </tr>
              {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
